<div id="js-sidebar" class="sidebar">
    {{!-- <ul class="life-container">
        {{#[helpers/for] lifes}}
        <li></li>
        {{/[helpers/for]}}
    </ul> --}}
    <h2 class="title">Scores</h1>
    <ol class="scores">
        {{#each scores}}
        <li>{{this.value}} - {{this.name}}</li>
        {{/each}}
    </ol>
</div>