$background-color: darkslategrey;


@mixin card {
        border-radius: 2px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: white;
    background-color: #0f2323;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    .pane {
        &:not(:last-child) {
            margin-right: 2em;
        }
        display: inline-block;
        // border: 1px solid;
        position: relative;
        vertical-align: top;
        @include card();
    }
}

.indicators {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    & > *:not(:last-child) {
        margin-bottom: 10px;
    }
    .shoot-delay-indicator {
        background-color: white;
        height: 10px;
        width: 0px;
    }
    .super-indicator {
        margin-right: 10px;
        height: 30px;
        width: 10px;
        background-color: white;
        display: inline-block;
    }
}

.timer {
    right: 1em;
    position: absolute;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10px;
    font-family: "VT323";
}

.logger {
    @include card();
    background-color: $background-color;
    width: 100%;
    height: 5em;
}

.main-scene {
    background-color: $background-color;
    height: 100%;
    width: 800px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    color: white;
    height: 100%;
    background-color: $background-color;
    padding: 1em 2em;
    box-sizing: border-box;
    .life-container {
        list-style: none;
        margin: 0;
        padding: 1em;
        width: 10em;
        li {
            &:not(:last-child) {
                margin-right: 0.2em;
            }
            display: inline-block;
            width: 1em;
            height: 3em;
            background-color: white;
        }
    }

}

.popup {
    background-color: $background-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 3em 5em;
    input {
        margin-bottom: 1em;
        background: none;
        border: none;
        border-bottom: 1px white;
        &:not(:focus) {
            border-bottom-style: dashed;
        }
        color: white;
        text-align: center;
    }
    button {
        border: 1px solid white;
        background: none;
        color: white;
        align-self: center;
        padding: 0.5em 2em;
    }
}

.start {
    padding-top: 0.5em;
}

.scores {
    padding-inline-start: 0;
}

.title {
    text-align: center;
}

.hidden {
    display: none;
}

