$background-color: darkslategrey;


@mixin card {
        border-radius: 2px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .pane {
        &:not(:last-child) {
            margin-right: 2em;
        }
        display: inline-block;
        // border: 1px solid;
        position: relative;
        vertical-align: top;
        @include card();
    }
}

.indicators {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    .shoot-delay-indicator {
        background-color: white;
        height: 10px;
        width: 0px;
        margin-bottom: 10px;
    }
    .super-indicator {
        margin-right: 10px;
        height: 30px;
        width: 10px;
        background-color: white;
        display: inline-block;
    }
}

.timer {
    right: 1em;
    position: absolute;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10px;
    font-family: "VT323";
}

.logger {
    @include card();
    background-color: $background-color;
    width: 100%;
    height: 5em;
}

.main-scene {
    background-color: $background-color;
    height: 100%;
    width: 800px;
}

.sidebar {
    height: 100%;
    background-color: $background-color;
    .life-container {
        list-style: none;
        margin: 0;
        padding: 1em;
        width: 10em;
        li {
            &:not(:last-child) {
                margin-right: 0.2em;
            }
            display: inline-block;
            width: 1em;
            height: 3em;
            background-color: white;
        }
    }

}